html, body {
    margin: 0;
    height: 100%;
}

/* .topnav a {
  
  /* color:white;
  text-align: center; */
  /* padding: 30px 60px;  */
  /* padding: 1vw;
  padding: 1vh;
  padding: 1vmin;
  padding: 1vmax;
  border-radius: 5px;
  border: 5px; 
  text-decoration: none;
  font-family:"Courier New";
  font-size: 20px; */
  /* float: right; */
  /* margin-top: 0px; */

 */
.navbar {
  height: 100px;
}
.navbar-custom {
  width: 100%;
  background-color: black;
}

.bg-dark {
  background-color: black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  padding: 1vw;
  padding: 1vh;
  padding: 1vmin;
  padding: 1vmax;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

table {
  margin-top: 20px;
  width: 120%;
}

p {
  color: black;
  margin-top: 70px;
  padding-left: 45%;
  font-family: "Courier New";
  font-size: 30px;

}

.center1 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New";
}

.text {
  text-align: center;
}

.center2 {
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New";
}

.statelink a {
  color: black;
  text-align: center;
  padding: 30px 60px; 
  border-radius: 5px;
  border: 5px; 
  text-decoration: none;
  font-family:"Courier New";
  font-size: 20px;
  float: right;
  margin-top: 0px;
}





